# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries
 build/
.gradle/
gradle/wrapper

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
Будет удалено .idea/
Будет удалено app.iml
Будет удалено dao-api/build/classes/
Будет удалено dao-api/build/libs/
Будет удалено dao-api/build/tmp/compileJava/
Будет удалено dao-api/dao-api.iml
Будет удалено dao-api/src/test/
Будет удалено dao-api/target/
Будет удалено dao/build/classes/
Будет удалено dao/build/libs/
Будет удалено dao/build/tmp/compileJava/
Будет удалено dao/build/tmp/compileTestJava/
Будет удалено dao/dao.iml
Будет удалено dao/logs/
Будет удалено dao/target/
Будет удалено database/build/libs/
Будет удалено database/database.iml
Будет удалено database/target/
Будет удалено gradle/wrapper/gradle-wrapper.jar
Будет удалено model/build/classes/
Будет удалено model/build/libs/
Будет удалено model/build/tmp/compileJava/
Будет удалено model/target/
Будет удалено rest-app/build/classes/
Будет удалено rest-app/build/libs/
Будет удалено rest-app/build/tmp/compileJava/
Будет удалено rest-app/build/tmp/compileTestJava/
Будет удалено rest-app/rest-app.iml
Будет удалено rest-app/target/
Будет удалено service-api/build/classes/
Будет удалено service-api/build/libs/
Будет удалено service-api/build/tmp/compileJava/
Будет удалено service-api/service-api.iml
Будет удалено service-api/src/main/resources/
Будет удалено service-api/src/test/
Будет удалено service-api/target/
Будет удалено service/build/classes/
Будет удалено service/build/libs/
Будет удалено service/build/tmp/compileJava/
Будет удалено service/build/tmp/compileTestJava/
Будет удалено service/service.iml
Будет удалено service/target/
/service-api/build/
/service-api/target/
/service/target/
/rest-app/target/
/model/target/
/database/build/
/database/target/
/dao/build/
/dao/target/
/dao/logs/
/dao-api/build/
/dao-api/target/
/gradle/
/gradle/wrapper/gradle-wrapper.properties
Будет удалено model/build/
Будет удалено rest-app/build/
Будет удалено service/build/
